*, p{
    margin:0;
    padding:0;
}
.card-container {
    height: 11in;
    width: 8.5in;
    background-color: #ddd;
}

.card {
    font-size: 12pt;
    width: 2.4in;
    height: 3.4in;
    background-color: #000;
    border-radius: 8px;
    padding: 0.05in;
    font-family: 'Belleza', sans-serif;
}

.card-inner {
    position: relative;
    width: 2.3in;
    height: 3.3in;
    background-color: #fff;
    border-radius: 4px;
    padding: 0.05in;
}

.card-inner div {
    width: 100%;
}

.card .card-icon {
    width: 40px;
    height: 40px;
    float: right;
}

.card .card-title {
    font-family: 'Averia Gruesa Libre', cursive;
    font-size: 15pt;
    height: 24px;
}

.card .card-category {
    font-size: 10pt;
    margin-bottom: 5px;
    height: 15px;
}

.card-hr-style {
    width: 100%;
    height: 1mm;
    display: block;
}

.card .card-text {
    margin-top: 5px;
}

div.card-bottom {
    width: 2.3in;
    position: absolute;
    bottom: 0;
    font-size: 9pt;
    margin-bottom: 1mm;
}

.card-stats {
    overflow: auto;
}
.card-stats div {
    float: left;
    width: 0.35in;
    font-size: 10pt;
    text-align: center;
    margin-left: 1mm;
}
.card-stats div p{
    font-size: 8pt;
}
.card-stats div:first-child {
    margin-left: 0;
}


@media screen {
    .card-container {
        display: none;
    }
}

@media print {
    body > *:not(.card-container){
        display: none;
    }
    .card-container > .card {
        float: left;
        margin-left: 0.25in;
        margin-top: 0.125in;
    }
}